<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js" integrity="sha512-dqw6X88iGgZlTsONxZK9ePmJEFrmHwpuMrsUChjAw1mRUhUITE5QU9pkcSox+ynfLhL15Sv2al5A0LVyDCmtUw==" crossorigin="anonymous"></script>

<table class="ui celled table">
  <thead>
    <tr><th>FRIENDSHIP</th>
    <th>ID</th>
    <th>NAME</th>
  </tr></thead>
  <tbody>
    <tr>
      <td data-label="type">User</td>
      <td data-label="Column"><%= friendship.user.id%></td>
      <td data-label="Value"> <%= friendship.user.name %> </td>
    </tr>
    <tr>
      <td data-label="Column">Friend</td>
      <td data-label="Column"><%= friendship.friend.id%></td>
      <td data-label="Value"> <%= friendship.friend.name %> </td>
    </tr>
    <tr>
      <td data-label="Column">Created/Updated_at</td>
      <td data-label="Value"><%= friendship.created_at %></td>
      <td data-label="Value"><%= friendship.updated_at %></td>
    </tr>
  </tbody>
</table>
