<%= stylesheet_link_tag 'index', media: 'all' %>

<div id="root">
  <!-- 내비게이션 -->

  <%= render partial: 'spa/navbar' %>

    <div class="ui padded grid">
      <%= render partial: 'spa/sidebar' %>
      <%= render partial: 'spa/main' %>
      <%# <%= render partial: 'spa/footer' %>
    </div>



    <%= render partial: "spa/share/user_profile_card_view" %>
    <%= render partial: "spa/ladder/ladder_index_view" %>
    <%= render partial: "spa/ladder/my_rating_view" %>
    <%= render partial: "spa/ladder/user_ranking_view" %>
  <%= javascript_pack_tag 'app' %>
</div>
