<%= stylesheet_link_tag 'index', media: 'all' %>

<div id="root">
  <!-- 내비게이션 -->

  <%= render partial: 'spa/persist/nav_bar' %>

  <div id="root-grid" class="ui padded grid">

    <div id="appearance-view" class="three wide tablet only three wide computer only column"
  style="right: 0px; z-index: 102; max-width: 220px; min-width: 220px">
    </div>

    <div id="main-view-container" class="sixteen wide mobile thirteen wide tablet thirteen wide computer right floated column flex-container column-direction center-aligned">
      <%#= render partial: 'spa/main' %>
    </div>
  </div>

  <%= render partial: 'spa/share/warning_message' %>
  <%= render partial: "spa/share/user_profile_card_view" %>
  <%= render partial: 'spa/persist/direct_chat_view' %>
  <%= render partial: 'spa/share/chat_message_view' %>
  <%= render partial: 'spa/share/current_user_chat_message_view' %>
  <%= render partial: 'spa/persist/appearance_view' %>
  <%= render partial: 'spa/persist/invite_view' %>
  <%= render partial: 'spa/persist/input_modal_view' %>
  <%= render partial: 'spa/persist/info_modal_view' %>
  <%= render partial: 'spa/persist/alert_modal_view' %>
  <%= render partial: 'spa/error/error_view' %>
  <%= render partial: 'spa/registration/sign_in_view' %>
  <%= render partial: "spa/ladder/ladder_index_view" %>
  <%= render partial: "spa/ladder/my_rating_view" %>
  <%= render partial: "spa/ladder/user_ranking_view" %>
  <%= javascript_pack_tag 'app' %>
</div>

<div id="invite-view" class="ui raised card hide-tablet"></div>
<div id="direct-chat-view" class="ui raised card"></div>
<div id="input-modal-view" class="ui tiny modal transition">
<div id="alert-modal-view" class="ui tiny modal transition">
<div id="info-modal-view" class="ui tiny modal transition">

